
.idea/                   
.vscode/                 
*.swp                    
*.suo                    
*.user                   
*.userosscache           
*.sln                    
*.csproj                 
*.vcxproj                

*.log                    
*.tmp                    
programaCompilado                


bin/                     
obj/                     
dist/                    
*.o                      
*.a
*.bin
*.so                     
*.dll                   
*.exe                    
*.out                    

*.aux                    
*.log                    
*.toc                   
*.out                    

